{% extends "handbook/handbook.html" %}
{%load static %}

{% block css %}
    <link rel="stylesheet" href="{% static "deps/css/my_footer_css.css" %}">
	<link rel="stylesheet" href="{% static "deps/css/table.css" %}">
{% endblock  %}

{% block content %}

<li><a class="dropdown-item text-black" href="{% url "handbook:create_company" %}">Новая компания</a></li>
{% csrf_token %}

<h5 class="m-2"><strong>{{ title }}</strong></h5>
	<ul>
		<table class="table table-bordered" data-resizable-columns-id="demo-table">
			<tr>
				<th data-resizable-column-id="Название">Название</th>
				<th data-resizable-column-id="Город">Город</th>
				<th data-resizable-column-id="Телефон">Телефон</th>
                <th data-resizable-column-id="E-mail">E-mail</th>
                <th data-resizable-column-id="Информация">Информация</th>
				<th data-resizable-column-id="СМС мастеру">СМС мастеру</th>
				<th data-resizable-column-id="СМС исполнителю">СМС исполнителю</th>
                <th data-resizable-column-id="Статус">Статус</th>
			</tr>
			<tr>	
            {% for c in content %}
                <div class="mt-6 flex justify-content-between">
					<td><p class="py-2 px-2 w-full {% cycle 'bg-gray-100' '' %}">{{ c.name }}</a></p></td>
					<td><p class="py-2 px-2 w-full {% cycle 'bg-gray-100' '' %}">{{ c.city }}</a></p></td>
					<td><p class="py-2 px-2 w-full {% cycle 'bg-gray-100' '' %}">{{ c.phone_number }}</a></p></td>
					<td><p class="py-2 px-2 w-full {% cycle 'bg-gray-100' '' %}">{{ c.mail }}</a></p></td>
					<td><p class="py-2 px-2 w-full {% cycle 'bg-gray-100' '' %}">{{ c.info }}</a></p></td>
                    <td><p class="py-2 px-2 w-full {% cycle 'bg-gray-100' '' %}">{{ c.sms_master }}</a></p></td>
                    <td><p class="py-2 px-2 w-full {% cycle 'bg-gray-100' '' %}">{{ c.sms_worker }}</a></p></td>
                    <td><p class="py-2 px-2 w-full {% cycle 'bg-gray-100' '' %}">{{ c.status }}</a></p></td>
                </div>
			</tr>
				{% endfor %}
		</table>

    </ul>



<!-- Пагинация -->


<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center my-4">
        <div class="custom-shadow d-flex">
            <li class="page-item {% if not c.has_previous %}disabled{% endif %}">
                <a class="page-link" href="{% if c.has_previous %}
                ?page={{ c.previous_page_number }}
                {% else %}
                #
                {% endif %}">Назад</a>
            </li>
            {% for page in content.paginator.page_range %}
            {% if page >= content.number|add:-2 and page <= content.number|add:2 %}
            <li class="page-item {% if content.number == page %}active{% endif %}">
                <a class="page-link" href="?page={{ page }}">{{ page }}</a>
            </li>
            {% endif %}
            {% endfor %}
            

            <li class="page-item {% if not content.has_next %}disabled{% endif %}">
                <a class="page-link" href="{% if content.has_next %}
                ?page={{ content.next_page_number }}
                {% else %}
                #
                {% endif %}">Дальше</a>
            </li>
        </div>
    </ul>
</nav>
{% endblock  %}



{% comment %} {% block footer %}
<footer class="py-4 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Аварийно-диспечерская служба 2024</p>
    </div>
</footer>
{% endblock  %} {% endcomment %}