{% extends "base.html" %}

{%load static %}

{% block css %}
    <link rel="stylesheet" href="{% static "deps/css/my_footer_css.css" %}">
	
{% endblock  %}

{% block content %}

<div class="container-fluid">
<div class="guides-content">
    <div class="row">
        <div class="col-md-2">
            <h4 class="text-center">Справочники</h4>
            <ul class="nav nav-pills  col-md-12">
                
                <li class=" col-md-12">
                    <a href="{% url "handbook:company" %}">Управляющие компании</a>
                </li>
                <li class=" col-md-12">
                    <a href="{% url "handbook:city" %}">Города</a>
                </li>
                <li class=" col-md-12">
                    <a href="{% url "handbook:street" %}">Улицы</a>
                </li>
                <li class=" col-md-12">
                    <a href="{% url "handbook:house" %}">Дома</a>
                </li>
                <li class=" col-md-12">
                    <a href="{% url "handbook:type_application" %}">Тип заявки</a>
                </li>
                <li class=" col-md-12">
                    <a href="{% url "handbook:view_application" %}">Вид заявки</a>
                </li>
                <li class=" col-md-12">
                    <a href="{% url "handbook:status_application" %}">Статус заявки</a>
                </li>
                <li class=" col-md-12">
                    <a href="{% url "handbook:executor" %}">Исполнители</a>
                </li>
                <li class=" col-md-12">
                    <a href="{% url "handbook:username" %}">Пользователи</a>
                </li>
                


{% endblock  %}


{% block footer %}
<footer class="py-4 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Аварийно-диспечерская служба 2024</p>
    </div>
</footer>
{% endblock  %} 

