{% extends "handbook/handbook.html" %}
{%load static %}

{% block css %}
    <link rel="stylesheet" href="{% static "deps/css/my_footer_css.css" %}">
	<link rel="stylesheet" href="{% static "deps/css/table.css" %}">
{% endblock  %}

{% block content %}
{% csrf_token %}
<h5 class="m-2"><strong>{{ title }}</strong></h5>
	<ul>
		<table class="table table-bordered" data-resizable-columns-id="demo-table">
			<tr>
				<th data-resizable-column-id="Имя">Имя</th>
				<th data-resizable-column-id="Телефон">Телефон</th>
				<th data-resizable-column-id="Компания">Компания</th>
				<th data-resizable-column-id="Исполнители">Исполнители</th>
                <th data-resizable-column-id="Аккаунт пользователя">Аккаунт пользователя</th>
			</tr>
			<tr>	
            {% for c in content %}
                
					<div class="mt-6 flex justify-content-between">
                        
						<td><p class="py-2 px-2 w-full {% cycle 'bg-gray-100' '' %}">{{ c.name }}</a></p></td>
						<td><p class="py-2 px-2 w-full {% cycle 'bg-gray-100' '' %}">{{ c.phone_number }}</a></p></td>
						<td><p class="py-2 px-2 w-full {% cycle 'bg-gray-100' '' %}">{{ c.company }}</a></p></td>
						{% comment %} <td><p class="py-2 px-2 w-full {% cycle 'bg-gray-100' '' %}">{{ c.workers.all }}</a></p></td> {% endcomment %}
						
						<td>{% for worker in c.workers.all %}
							
							<p class="py-2 px-2 w-full {% cycle 'bg-gray-100' '' %}">{{ worker }}</a></p>{% endfor %}
							
						</td>
						<td><p class="py-2 px-2 w-full {% cycle 'bg-gray-100' '' %}">{{ c.user }}</a></p></td>
                    </div>
			</tr>
				{% endfor %}
		</table>

    </ul>
{% endblock  %}



