{% extends "base.html" %}

{%load static %}
{% load bootstrap4 %}
{% block css %}


<link rel="stylesheet" href="{% static "deps/css/my_footer_css.css" %}">
<link rel="stylesheet" href="{% static "deps/css/form.css" %}">
{% endblock  %}


{% block content %}

    <div class="offset-5 col-md-6">
    <h1>Добавить исполнителя</h1>
    </div>
    <div>
        <form method="post" enctype='multipart/form-data' id="worker-form">
        
            {% csrf_token %}
            {% bootstrap_form form %}
            {% buttons %}
            <button type="submit" class="btn btn-primary"> Сохранить </button>
            {% endbuttons %}
            </form>
            <div class="posts"></div>
            
            
            
            {% endblock  %}






